# Directory created from using the 'rbt' CLI tool.
/.rbt/

# The recommended virtualenv directory.
/.venv/

# Temporary directories produced by `pytest`.
__pycache__/
.pytest_cache/

web/node_modules/
web/dist/

# Generated code.
backend/api/
web/src/api/
boilerplate/

# Binary artifacts produced only during Reboot library development.
.unpublished-reboot-wheel/*.whl
