# Directory created from using the 'rsm' CLI tool.
.rsm/

# Any virtualenv directories.
.*-venv/

# Temporary directories produced by `pytest`.
__pycache__/
.pytest_cache/

web/node_modules/
web/dist/

# Generated code.
api/**/*.py
web/src/gen/**/*.js
web/src/gen/**/*.ts
