.messagesPage {
  height: 100%;
  width: 50%;
  min-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateY(-50%);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.name {
  margin-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buttonDisabled,
.buttonEnabled {
  float: right;
  appearance: none;
  border: 0.2em solid;
  background: hsl(0 0 0/0);
  padding: 0.85em 1.5em;
  border-radius: 2em;
  transition: 1s;
}

.buttonDisabled {
  color: gray;
  border-color: darkgray;
}

.buttonEnabled {
  color: #e91e63;
  border-color: #e91e63;
  &:hover,
  &:focus,
  &:active {
    background-color: #e91e63;
    color: #fff;
  }
}
.messagesContainer {
  left: 0;
  right: 0;
  overflow: auto;
  top: 60px;
  bottom: 80px;
  position: absolute;
  height: calc(100% - 160px);
  display: flex;
  flex-direction: column;
}
