.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-color: red;
}

.header {
  background-color: rgb(149, 31, 133);
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
}

.header h1 {
  margin-left: 40vw;
}

.header button {
  background-color: #0056b3;
  color: white;
  flex-grow: 0;
  margin: 25px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #4586cb;
}

/* Container for the chat log */
.chatLog {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto; /* Enable scrolling for long chat logs */
  background-color: white;
}

/* div for each message*/
.chatList {
  display: flex;
  flex-direction: column;
}

/* Style for sent messages */
.sentMessage {
  align-self: flex-end;
  margin: 5px 0;
}

/* Style for received messages */
.receivedMessage {
  align-self: flex-start;
  margin: 5px 0;
}

/* Style for received messages sender name above message bubble */
.receivedMessageSenderName {
  margin-left: 5px;
}

/* Style for parent div of avatar bubble and message */
.recievedMessageAndAvatar {
  display: flex;
}

/* Style for avatar bubble */
.avatarBubble {
  align-self: flex-end;
  align-content: center;
  text-align: center;
  font-size: large;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 2px;
}

/* Style for message bubbles */
.messageBubble {
  background-color: #007bff; /* Blue color for sent messages */
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 50vw; /* Was using % but it led to some bugy behavior */
}

/* Input and send button */
.messageInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  bottom: 0;
}

/* Adjust input and button styles */
.messageInput input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.messageInput button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.messageInput button:hover {
  background-color: #0056b3;
}