.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(149, 31, 133);
  height: 100vh;
}

.loginContainer {
  text-align: center;
  background-color: rgb(149, 31, 133);
  height: 40vh;
}

.loginContainer input {
  flex: 1;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 10px;
}

.loginContainer button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1e79e1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}